<h1>Timezones</h1>
<form role="form" ng-submit="filter()">
    <div class="form-group">
        <label for="namePrefix">Prefix of name:</label>
        <input type="text" class="form-control" id="namePrefix" name="namePrefix" ng-model="namePrefix"/>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<div class="span6" style="margin-top: 30px;">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Id</th>
            <th style="min-width: 80px;">Owner login</th>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">City</th>
            <th style="min-width: 80px;">Timezone</th>
            <th style="min-width: 80px;">Time in timezone</th>
            <th style="width:20px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="timezone in timezoneData">
            <td>{{ timezone.id }}</td>
            <td>{{ timezone.owner.login }}</td>
            <td>{{ timezone.name }}</td>
            <td>{{ timezone.city }}</td>
            <td>{{ timezone.timezoneOffset.name }}</td>
            <td>{{ timeInTimezone(timezone.timezoneOffset.offset) }}</td>
            <td><a ng-click="editTimezone(timezone.id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteTimezone(timezone.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
