<style>
    table td {
        border: 1px solid;
        padding: 3px;
    }
</style>
<h1>Api for service:</h1>

<div>
    <p>
        Every method, except of /auth and /register requires token to be send as header 'Authorization'.
        Token can be generated via /auth call.
    </p>
    <p>
        On success every method will return JSON data object with structure as described below, or special error json otherwise.
        Error json has following format:
        <pre>
{
    errorType: int,
    errorMessage: string
}</pre>
        Error type can have one of the following values:
<pre>1 - internal server error, - on every unspecified error
2 - user not found, - when trying to perform operation on non-existing user
3 - bad credentials, - failed to login
4 - timezone not found, - when trying to perform operation on non-existing timezone entry
5 - cannot remove admin role from yourself - when trying to remove admin role from current admin
6 - cannot delete yourself - when trying to delete yourself
7 - cannot create user with login - when trying to create user when user with that login is already exists
8 - no login or password provided - when trying to create user without login or password provided
</pre>
    </p>
    <p>
        Model:
        user:
    <pre>
{
    id: number,
    login: string,
    enabled: boolean,
    roles: array[string],
    name: string
}</pre>
        offset:
    <pre>
{
    id: number,
    name: string,
    offset: number
}</pre>
        timezone:
    <pre>
{
    id: number,
    name: string,
    owner: user,
    timezoneOffset: offset,
    city: string
}</pre>
    </p>
    <p>List of methods:</p>
    <table>
        <tr>
            <td>
                Url
            </td>
            <td>
                Type
            </td>
            <td>
                Parameters
            </td>
            <td>
                Description
            </td>
            <td>
                Response
            </td>
        </tr>
        <tr>
            <td>
                /auth
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>
{
    username: string
    password: string
}</pre>
            </td>
            <td>
                Generates auth token to access api for specified user.
                Generated token should be passed as 'Authorization' header.
            </td>
            <td>
                <pre>
{
    token: string
}</pre>
            </td>
        </tr>
        <tr>
            <td>
                /registerUser
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>
{
    login: string
    password: string
    username: string
}</pre>
            </td>
            <td>
                Adds user with specified login, password and username.
            </td>
            <td>
                user object
            </td>
        </tr>
        <tr>
            <td>
                /user
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>{ }</pre>
            </td>
            <td>
                Returns logged in user, if any, or 401 otherwise.
            </td>
            <td>
                user object
            </td>
        </tr>
        <tr>
            <td>
                /metadata
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>{ }</pre>
            </td>
            <td>
                Returns offsets in system.
            </td>
            <td>
                <pre>
{
    availableOffsets: array[offset]
}</pre>
            </td>
        </tr>
        <tr>
            <td>
                /currentTime
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>{ }</pre>
            </td>
            <td>
                Returns current time on server in milliseconds.
            </td>
            <td>
                <pre>
{
    time: number
}</pre>
            </td>
        </tr>
        
        <tr>
            <td>
                /api/data
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>
{
    namePrefix: string, not required
}</pre>
            </td>
            <td>
                Returns timezones of current user.
                If namePrefix is specified, fill return only timezones, which has specified prefix.
            </td>
            <td>
                array[timezone]
            </td>
        </tr>
        <tr>
            <td>
                /api/data
            </td>
            <td>
                <pre>POST</pre>
            </td>
            <td>
                <pre>
{
    name: string
    city: string
    offsetId: number
}</pre>
            </td>
            <td>
                Creates new timezone.
            </td>
            <td>
                200 status
            </td>
        </tr>
        <tr>
            <td>
                /api/data/{id}
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Returns timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                timezone
            </td>
        </tr>
        <tr>
            <td>
                /api/data/{id}
            </td>
            <td>
                <pre>PUT</pre>
            </td>
            <td>
                {id} - number
                <pre>
{
    name: string
    city: string
    offsetId: number
}</pre>
            </td>
            <td>
                Updates timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                200 status
            </td>
        </tr>
        <tr>
            <td>
                /api/data/{id}
            </td>
            <td>
                <pre>DELETE</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Removes timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                200 status
            </td>
        </tr>

        <tr>
            <td>
                /api/moderator/data
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                <pre>
{
    namePrefix: string, not required
}</pre>
            </td>
            <td>
                Returns all timezones.
                If namePrefix is specified, fill return only timezones, which has specified prefix.
            </td>
            <td>
                array[timezone]
            </td>
        </tr>
        <tr>
            <td>
                /api/moderator/data/{id}
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Returns timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                timezone
            </td>
        </tr>
        <tr>
            <td>
                /api/moderator/data/{id}
            </td>
            <td>
                <pre>PUT</pre>
            </td>
            <td>
                {id} - number
                <pre>
{
    name: string
    city: string
    offsetId: number
}</pre>
            </td>
            <td>
                Updates timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                200 status
            </td>
        </tr>
        <tr>
            <td>
                /api/moderator/data/{id}
            </td>
            <td>
                <pre>DELETE</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Removes timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                200 status
            </td>
        </tr>


        <tr>
            <td>
                /api/admin/user
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                none
            </td>
            <td>
                Returns all users
            </td>
            <td>
                array[user]
            </td>
        </tr>
        <tr>
            <td>
                /api/admin/user/{id}
            </td>
            <td>
                <pre>GET</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Returns user by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                user
            </td>
        </tr>
        <tr>
            <td>
                /api/admin/user
            </td>
            <td>
                <pre>POST</pre>
            </td>
            <td>
                <pre>
{
    id: number,
    name: string,
    roles: array[string]
}</pre>
            </td>
            <td>
                Updates user.
                May produce error, if no user is found or trying to remove admin role from yourself.
            </td>
            <td>
                200 status
            </td>
        </tr>
        <tr>
            <td>
                /api/admin/user/{id}
            </td>
            <td>
                <pre>PUT</pre>
            </td>
            <td>
                {id} - number
                <pre>
{
    name: string
    city: string
    offsetId: number
}</pre>
            </td>
            <td>
                Updates timezone by id.
                May produce error, if no timezone by id is found.
            </td>
            <td>
                200 status
            </td>
        </tr>
        <tr>
            <td>
                /api/admin/user/{id}
            </td>
            <td>
                <pre>DELETE</pre>
            </td>
            <td>
                {id} - number
            </td>
            <td>
                Disables user by id.
            </td>
            <td>
                200 status
            </td>
        </tr>
    </table>
</div>