<!doctype html>
<html>
<head>
    <title>Timezone app</title>
    <link href="css/angular-bootstrap.css"
            rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="timezoneApp" ng-cloak class="ng-cloak">
<div ng-controller="navigation as nav" class="container">
    <ul class="nav nav-pills" role="tablist">
        <li><a href="#/">home</a></li>
        <li ng-show="!authenticated"><a href="#/login">login</a></li>
        <li ng-show="authenticated"><a ng-click="logout()">logout</a></li>
        <li ng-show="!authenticated"><a href="#/register">register</a></li>
        <li ng-show="user"><a href="#/timezone">timezone</a></li>
        <li ng-show="moderator"><a href="#/moderator/timezone">all timezones</a></li>
        <li ng-show="admin"><a href="#/admin/users">users</a></li>
        <li><a href="#/api">api</a></li>
    </ul>
    <div class="alert alert-danger" ng-show="hasError">
        {{errorText}}
        <a style="float: right; padding: 0;" ng-click="closeError()" class="btn">close</a>
    </div>
</div>
<div ng-view class="container"></div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/app.js"></script>
</body>
</html>