<div class="alert alert-danger" ng-show="controller.error">
    There was a problem registering. Please try again.
</div>
<form role="form" ng-submit="controller.register()">
    <div class="form-group">
        <label for="login">Login:</label> <input type="text"
                                                       class="form-control" id="login" name="login"
                                                       ng-model="controller.credentials.login"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
                                                       class="form-control" id="password" name="password"
                                                       ng-model="controller.credentials.password"/>
    </div>
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
                                                       class="form-control" id="username" name="username"
                                                       ng-model="controller.credentials.username"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>