<div class="container">
    <h1>Timezone detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>

            <div class="controls">
                <input type="text" id="inputName" ng-model="timezone.name" placeholder="Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputOffset">Offset:</label>

            <select id="inputOffset" name="inputOffset" ng-model="timezone.offsetId">
                <option ng-repeat="offset in offsets" ng-selected="offset.id == timezone.timezoneOffset.id" value="{{offset.id}}">{{offset.name}}</option>
            </select>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCity">City:</label>

            <div class="controls">
                <input type="text" id="inputCity" ng-model="timezone.city" placeholder="City"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateTimezone(timezone.id)" class="btn btn-small btn-primary">update timezone</a>
            </div>
        </div>
    </form>
</div>
