<div class="container">
    <h1>Timezone detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>

            <div class="controls">
                <input type="text" id="inputName" ng-model="user.name" placeholder="Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRoles">Roles:</label>

            <select multiple id="inputRoles" name="inputRoles" ng-model="user.roles">
                <option ng-repeat="role in availableRoles" ng-selected="{{userHasRole(role, user)}}" value="{{role}}">{{role}}</option>
            </select>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateUser(user.id)" class="btn btn-small btn-primary">update user</a>
            </div>
        </div>
    </form>
</div>
