<h1>Timezones</h1>
<div class="span6">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Id</th>
            <th style="min-width: 80px;">Login</th>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">Roles</th>
            <th style="width:20px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in userData">
            <td>{{ user.id }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.name }}</td>
            <td><div ng-repeat="role in user.roles">{{ role }}</div></td>
            <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
